@import '../style/utils.scss';

.about-Paper{
    background: white;
    padding: 0 1.5em;
    max-width: 1024px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1.7rem;
    @include media("<large"){
        width: auto;
        margin-left: -.875rem;
        margin-right: -.875rem;
        margin-top: 1.7rem;
    }

    .Header{
        padding: 1.25rem 1rem;
        border-bottom: 1px solid rgba(0,0,0,.05);

        @include media("<large"){
            padding-left: 0.25rem;
        }
    }
    .profile{
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding-left: 1rem;
        vertical-align: baseline;
        @include media("<large"){
            padding-left: 0.25rem;
        }
        .badge{
            text-align: center;
            .img{
                width: 64px;
                height: 64px;
            }
        }
        .email{
            text-align: center;
        }
    }
    .skill{
        padding-left: 2rem;
    }
}